{% extends "base.html" %} 
{% load static %} 
{% load bag_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'bag/css/bag.css' %}">
{% endblock %}

{% block extra_title %}
Bag
{% endblock %}

{% block content %}

<div class="overlay-animated"></div>

<div class="container-fluid mt-100">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="row mb-3 justify-content-center text-center">
                    <div class="col">
                        <h1 class="display-3">Dropp | Bag</h1>
                    </div>
                </div>
                    <div class="row justify-content-center text-center">
                        <div class="col-12 ">
                            <nav aria-label="breadcrumb">
                                <ol class="list-unstyled breadcrumb justify-content-center">
                                    <li class="text-secondary breadcrumb-item font-weight-bold "><a class="text-light" href="{% url 'products' %}"><span class="">Shop More</span></a></li>
                                    <li class="text-secondary breadcrumb-item font-weight-bold"><a class="active-class" aria-current="page" href="#"><span class="">My Shopping Bag</span></a></li>
                                    <li class="text-secondary breadcrumb-item font-weight-bold"><a class="text-light" href="{% url 'checkout' %}"><span class="">Checkout</span></a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                <div class="row justify-content-center">
                    <div class="col-md-7">
                        <div class="card shadow-lg">
                            <div class="card-header">
                                <p class="card-text text-center">Your bag:</p>
                                <hr>
                            </div>
                            <div class="card-body">
                            <div class="col">
                                {% if bag_items %}
                                    <div class="table-responsive rounded">
                                        <table class="table table-sm table-borderless">
                                            <thead class="text-light">
                                                <tr class="mobile-left">
                                                    <th scope="col">Product</th>
                                                    <th scope="col"></th>
                                                    <th scope="col">Price</th>
                                                    <th scope="col">Qty</th>
                                                    <th scope="col">Subtotal</th>
                                                </tr>
                                            </thead>
                                            {% for item in bag_items %}
                                                <tr class="mobile-left">
                                                    <tbody class="mobile-left">
                                                    <td class="p-3 w-25 img-gone">
                                                    {% if item.product.image %}
                                                        <img class="w-100" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                                    {% else %}
                                                        <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                                                    {% endif %}
                                                    </td>
                                                    <td class="py-3">
                                                        <p class="my-0"><strong>{{ item.product.name  }}</strong></p>
                                                        <p class="my-0 small text-muted">SKU: {{ item.product|upper }}</p>
                                                    </td>
                                                    <td class="py-3">
                                                        <p class="my-0"> ${{ item.product.price }}</p>
                                                    </td>
                                                    <td class="py-3 w-25">
                                                        <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                                            {% csrf_token %}
                                                            <div class="input-group mr-auto d-flex align-items-center">
                                                                <div class="col-sm d-flex quantity justify-content-center text-center m-2">
                                                                    <button class="minus bg-light btn btn-sm decrement-qty" data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">-</button>
                                                                    <input class="count qty_input" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                                                    <button class="increment-qty btn btn-sm plus bg-light" data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">+</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                        <a class="update-link text-info"><small>Update</small></a>
                                                        <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}" data-size="{{ item.size }}"><small>Remove</small></a>
                                                    </td>
                                                    <td class="py-3">
                                                        <p class="my-0">{{ item.product.price | calc_subtotal:item.quantity  }}</p>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            <tr>
                                                <td colspan="5" class="pt-5 text-right">
                                                    <h6><strong>Bag Total: ${{ total|floatformat:2 }}</strong></h6>
                                                    <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
                                                    <h4 class="mt-4"><strong>Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                                                    {% if free_delivery_delta > 0 %}
                                                        <p class="mb-1 text-danger">
                                                            Hydrate more, mate. For the environment. Spend <strong>${{ free_delivery_delta }}</strong> more to get free delivery.
                                                        </p>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="5" class="text-right">
                                                    <a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg">
                                                        <span>Secure Checkout</span>
                                                        <span class="icon">
                                                            <i class="fas fa-lock"></i>
                                                        </span>
                                                    </a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
<script>
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}
