{% extends "base.html" %} 

{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block extra_title %}
Home
{% endblock %}

{% block content %}
<div class="load-spinner"></div>

<div class="jumbotron  d-flex flex-column align-items-center justify-content-center p-3 mb-5 background-blur shadow-lg">
  <div class="container d-flex mt-auto justify-content-center">
    <div class="row">
      <div class="col-12">
        <span class="text-white display-4 shadow">Hydrate for: /span>
      </div>
    </div>
    <div class="row">
      <div class="word-animation col-12">
        <div class="message message-1 m-2 text-light">
          <span class="word1 display-4 shadow">CLIMATE</span>
          <span class="word2 display-4 shadow">PLASTIC-HATE</span>
          <span class="word3 display-4 shadow"><u>YOU, MATE</u></span>
        </div>
      </div>
    </div>
  </div>
  <a href="#go-down" class="mt-auto justify-content-center align-items-center" aria-label="go down page"><i class="fa-solid fa-circle-down"></i></a>
</div>
<!-- Did you know? -->
<div class="container d-flex text-center justify-content-center background-blur">
  <div class="row">
    <div class="col-sm just-fucking-water">
      <h3 class="display-4" id="go-down">JUST</h3>
    </div>
    <div class="col-sm just-fucking-water">
      <h3 class="display-4">F*CK*NG</h3>
    </div>
    <div class="col-sm just-fucking-water">
      <h3 class="display-4">WATER</h3>
    </div>
  </div>
</div>
<div class="container d-flex justify-content-center mt-1 background-blur">
    <div class="row flex-md-row flex-lg-row flex-sm-column">
        <div class="col-sm align-items-center text-center justify-content-center border shadow m-1 p-2">
            <i class="fa-solid fa-hand-holding-dollar mt-2"></i>
            <h1>Buy</h1>
            <p class="m-1 p-2">We get our money (Gracias) and you get to treat yourself to some invaluable hydration. (You're welcome)</p>
        </div>
        <div class="col-sm recycle align-items-center text-center justify-content-center border shadow m-1 p-2">
            <i class="fa-solid fa-recycle mt-2"></i>
            <h1>Recycle</h1>
            <p class="m-1 p-2">With your order we send a box(of non-lethal cardboard) which you use to send the cans back to us.</p>
        </div>
        <div class="col-sm align-items-center text-center justify-content-center border shadow m-1 p-2">
            <i class="fa-solid fa-earth-americas mt-2"></i>
            <h1>Save the Planet</h1>
            <p class="m-1 p-2">Considering how easy it is to recycle our cans, we can easily turn them into more drinks and thus, THUS, saving this tiny little planet of ours.</p>
        </div>
    </div>
</div>


<!-- The goods -->
<div class="container d-flex text-center justify-content-center mt-3 background-blur">
  <div class="row">
    <div class="col-sm just-fucking-water">
      <h3 class="display-4">THE</h3>
    </div>
    <div class="col-sm just-fucking-water">
      <h3 class="display-4">GOODS</h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="text-secondary text-center">Fizzy water for hydration • Caffeine, because we know you're tired • Non-plastic because obviously.</p>
  </div>
</div>
<!-- Product cards -->
<div class="container d-flex justify-content-center mt-75 background-blur">
    <div class="row">
      {% for product in featured %}
          <div class="col-md-3">
            {% csrf_token %}
            <div class="product-wrapper mb-45 text-center">
                <div class="product-img"> <a href="{% url 'product_detail' product.id %}" data-abc="true"> <img src="{{ product.image.url }}" alt=""> </a> 
                    <div class="product-action">
                        <div class="product-action-style"> 
                          <a class="action-plus open-modal-wrapper" title="Quick View" data-toggle="modal" data-target="#modal-wrapper" data-url="{% url 'featured_details' product.id %}" href="#" aria-label="opens new window, showing product detail on same page"> <i class="fa-solid fa-eye text-dark"></i> </a>
                          <a class="action-heart AddToWishlist" title="Wishlist" href="{% url 'add_to_wish_list' product.id %}" data-abc="true" aria-label="add to wishlist">
                            <i class="fa-solid fa-heart-circle-plus text-dark"></i> 
                          </a> 
                          <a class="action-cart" title="Add To Cart" href="{% url 'product_detail' product.id %}" data-abc="true" aria-label="add to cart">
                            <i class="fa-solid fa-cart-shopping text-dark"></i> 
                          </a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
      {% endfor %}
    </div>
</div>

<div id="modal-wrapper"></div>
<!-- All products button -->
<div class="container d-flex background-blur justify-content-center">
  <div class="row">
    <div class="col">
      <a href="{% url 'products' %}" class="btn btn-secondary btn-lg" role="button">View all products</a>
    </div>
  </div>
</div>
<div class="container-fluid background-featured background-blur align-items-center pb-3">
  <div class="d-flex justify-content-center align-items-center text-center mt-3 pt-3">
    <div class="row">
        <div class="col-sm just-fucking-water">
          <h3 class="display-4">THE</h3>
        </div>
        <div class="col-sm just-fucking-water">
          <h3 class="display-4">WISDOM</h3>
        </div>
      </div>
    </div>
   <div class="row mt-3 d-flex justify-content-center align-items-center mb-3">
            {% for featured in featured_articles %} 
              <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="card shadow-lg text-white">
                  {% if featured.image %}
                    <a href="{% url 'article_details' featured.id %}"><img
                    class="card-img img-fluid"
                    src="{{ featured.image.url }}"
                    alt=""
                    /></a>
                    {% else %}
                    <a href="{% url 'article_details' featured.id %}"><img
                    class="card-img img-fluid"
                    src="{{ MEDIA_URL }}noimage.png"
                    alt=""
                    /></a>
                    {% endif %}
                    <div class="d-flex flex-column">
                      <div class="card-body">
                          <small class="card-meta mb-2">{{ featured.title }}</small>
                          <h4 class="card-title mt-0">
                          <a class="text-white" herf="#"
                              >{{ featured.description }}</a
                          >
                          </h4>
                          <small><i class="far fa-clock"></i>{{ featured.date_published }}</small>
                      </div>
                      <div class="card-footer">
                          <div class="media">
                            <div class="media-body">
                                <h6 class="my-0 text-white d-block">{{ featured.author }}</h6>
                                <small>Credentials</small>
                            </div>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="col-12 d-flex justify-content-center mb-3 mt-3 background-blur">
      <a href="{% url 'view_articles' %}" class="btn btn-secondary btn-lg" role="button">View all Articles</a>
    </div>
</div>


{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
$(document).ready(function() {
    $(".open-modal-wrapper").on("click", function() {
        $.ajax({
            url: $(this).attr("data-url"),
            type: 'GET',
            cache: false,
            success: function(data) {
                document.getElementById('modal-wrapper').innerHTML = data;
                $(".modal").addClass("modal-display")
                $("#modal-wrapper").modal('show');
            }
        });
    });
});
</script>
{% endblock %}
