{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}


{% block content %}
    <div class="overlay-animated"></div>

    <div class="container-fluid mt-100">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="row text-center mt-2">
                    <div class="col">
                        <div class="row mb-3 justify-content-center">
                            <div class="col">
                                <h1 class="display-3">Dropp | Your Orders</h1>
                            </div>
                        </div>
                            <div class="row justify-content-center text-center">
                                <div class="col-12 ">
                                    <nav aria-label="breadcrumb">
                                        <ol class="list-unstyled breadcrumb justify-content-center">
                                            <li class="text-secondary breadcrumb-item font-weight-bold "><a class="text-light" href="{% url 'products' %}"><span class="">Shop More</span></a></li>
                                            <li class="text-secondary breadcrumb-item font-weight-bold"><a class="text-light" href="{% url 'view_bag' %}"><span class="">My Shopping Bag</span></a></li>
                                            <li class="text-secondary breadcrumb-item font-weight-bold"><a class="active-class" aria-current="page"  href="#"><span class="">Checkout</span></a></li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
    <div id="loading-overlay">
        <h1 class="loading-spinner"></h1>
    </div>
{% endblock %}

{% block postloadjs %}
    <!-- {{ block.super }} -->
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}
