{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block extra_title %}
Profile
{% endblock %}

{% block content %}
    <div class="overlay-animated"></div>

    <div class="container-fluid mt-100">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="row text-center mt-2">
                    <div class="col">
                        <div class="row mb-3 justify-content-center">
                            <div class="col">
                                <h1 class="display-3">Dropp | Profile</h1>
                            </div>
                        </div>
                            <div class="row justify-content-center text-center">
                                <div class="col-12 ">
                                    <nav aria-label="breadcrumb">
                                        <ol class="list-unstyled breadcrumb justify-content-center">
                                            <li class="text-secondary breadcrumb-item font-weight-bold "><a class="text-light" href="{% url 'wish_list' %}"><span class="">Wishlist</span></a></li>
                                            <li class="text-secondary breadcrumb-item font-weight-bold"><a class="text-light" href="{% url 'profile_account' %}"><span class="">A Message</span></a></li>
                                            <li class="text-secondary breadcrumb-item font-weight-bold"><a class="active-class" aria-current="page"  href="#"><span class="">Account</span></a></li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        <div class="row justify-content-around">
                            <div class="col-md-5 mb-3">
                                <div class="card">
                                    <div class="card-header">
                                        <h3>Your Information</h3>
                                    </div>
                                    <div class="card-body">
                                        <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                                            {% csrf_token %}
                                            {{ form|crispy }}
                                            <button class="btn rounded" class="btn btn-black rounded-0">Update Information</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-text">Order History</h3>
                                        <hr>
                                    </div>
                                    <div class="card-body">
                                        <table class="table table-sm table-borderless">
                                            <thead>
                                                <tr>
                                                    <th>Order Number</th>
                                                    <th>Date</th>
                                                    <th>Items</th>
                                                    <th>Order Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for order in orders %}
                                                    <tr>
                                                        <td>
                                                            <a href="{% url 'order_history' order.order_number %}"
                                                            title="{{ order.order_number }}">
                                                                {{ order.order_number|truncatechars:6 }}
                                                            </a>
                                                        </td>
                                                        <td>{{ order.date }}</td>
                                                        <td>
                                                            <ul class="list-unstyled">
                                                                {% for item in order.lineitems.all %}
                                                                    <li class="small">
                                                                        {% if item.product.has_sizes %}
                                                                            Size {{ item.product.size|upper }}
                                                                        {% endif %}{{ item.product.name }} x{{ item.quantity }}
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </td>
                                                        <td>${{ order.grand_total }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countrysurprise.js' %}"></script>
{% endblock %}
