h3,
h4,
p {
  color: #000;
}

.surprise-effect {
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
  z-index: 98;
  padding-bottom: 100px;
}
.surprise-effect h4 {
  font-weight: 700;
  color: #fff;
  text-shadow: 0 0 7px #000, 0 0 10px #000, 0 0 21px #000;
  animation-name: text-zoom;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  padding: 60px;
  z-index: 100;
}
@keyframes text-zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(2);
  }
}

#profile-update-form .form-control {
    color: #000;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

.footer {
  position: absolute;
}
