{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}



    {% block corecss %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    <style>
    @import url('https://fonts.googleapis.com/css2?family=Codystar&family=Mochiy+Pop+P+One&family=Montserrat:wght@600&display=swap');
    </style>

    {% block corejs %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/fe08204d2b.js" crossorigin="anonymous"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    <!-- Custom js -->
    <script src="{% static 'js/base.js' %}"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Dropp | {% block extra_title %}{% endblock %}</title>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <header>
        <div class="container-fluid fixed-top navbar-opacity">
            <nav class="navbar navbar-expand-lg navbar-dark" id="barnav">
                <button class="btn btn-link d-block d-md-none" id="sidebarCollapse" type="button" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}"><strong>Dropp<span class="dot">.</span></strong></a>
                <ul class="navbar-nav ml-auto d-block d-md-none">
                    <li class="nav-item">
                        <a class="btn btn-link" href="{% url 'view_bag' %}"><i class="fa-solid fa-cart-shopping"></i><span class="badge badge-danger">3</span></a>
                        <div class="text-center">
                            <p class="my-0">
                                {% if grand_total %}
                                    ${{ grand_total|floatformat:2}}
                                {% else %}
                                    $0.00
                                {% endif %}
                            </p>
                        </div>
                    </li>
                </ul>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                            Products
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'products' %}?category=product_water">Water</a>
                                <a class="dropdown-item" href="{% url 'products' %}?category=product_bags">Bags</a>
                                <a class="dropdown-item" href="{% url 'products' %}?category=product_hats">Hats</a>
                            </div>
                        </li>
                    </ul>
                    <form method="GET" action="{% url 'products' %}">
                        <div class="input-group w-100">
                            <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                            <div class="input-group-append">
                                <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                    <span class="icon">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <ul class="navbar-nav">
                        <li class="nav-item ml-md-3">
                            <a class="btn btn-link ml-1" href="{% url 'view_bag' %}"><i class="fa-solid fa-cart-shopping"></i><span class="badge badge-danger">{{ request.session.bag.keys|length }}</span></a>
                            {% if request.user.is_authenticated %}
                                <div class="dropdown bigScreen float-left">
                                    <a
                                    class="btn text-white dropdown-toggle"
                                    role="button"
                                    id="dropdownMenuLink"
                                    data-toggle="dropdown"
                                    aria-expanded="false"
                                    aria-label="Toggle navigation"
                                    >
                                    <i class="fa-solid fa-user-tie"></i>
                                    My Account
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="{% url 'profile' %}">My Orders</a>
                                    <div class="dropdown-divider"></div>
                                    {% if request.user.is_superuser %}
                                        <a class="dropdown-item" href="{% url 'add_product' %}"
                                        >Add product</a
                                        >
                                    {% endif %}
                                    <a class="dropdown-item" href="#"
                                        >Delete Account</a
                                    >
                                    <a class="dropdown-item" href="{% url 'account_logout' %}"
                                        >Logout</a
                                    >
                                    </div>
                                </div>
                            {% else %}
                                <a class="btn rounded" href="{% url 'account_login' %}"><i class="fa-solid fa-user-tie"></i> Log In / Register</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <div class="container">
                    <div class="row">
                        {% if request.user.is_authenticated %}
                            <div class="dropdown dropright col-10">
                                <a
                                class="btn text-white dropdown-toggle"
                                role="button"
                                id="dropdownMenuLink"
                                data-toggle="dropdown"
                                aria-expanded="false"
                                aria-label="Toggle navigation"
                                >
                                <i class="fa-solid fa-user-tie"></i>
                                My Account
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="{% url 'profile' %}">My Orders</a>x
                                <div class="dropdown-divider"></div>
                                {% if request.user.is_superuser %}
                                    <a class="dropdown-item" href="{% url 'add_product' %}"
                                        >Add product</a
                                    >
                                {% endif %}
                                    <a class="dropdown-item" href="#"
                                        >Delete Account</a
                                    >
                                    <a class="dropdown-item" href="{% url 'account_logout' %}"
                                        >Logout</a
                                    >
                                </div>
                            </div>
                        {% else %}
                            <div class="col-10">
                                <a class="btn rounded" href="{% url 'account_login' %}"><i class="fa-solid fa-user-tie"></i> Log In / Register</a>
                            </div>
                        {% endif %}
                        <div class="col-2 text-right">
                            <button type="button" id="sidebarCollapseX" class="btn btn-link">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <ul class="list-unstyled components links">
                <li>
                <a href="#"><i class="fa-solid fa-circle-info mr-2"></i> About</a>
                </li>
                <li>
                <a href="#"><i class="fa-solid fa-glass-water-droplet mr-2"></i> Products</a>
                </li>
                <li>
                <a href="#"><i class=""></i> Something</a>
                </li>
                <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class=""></i>
                                Support</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                    <a href="#">Delivery Information</a>
                    </li>
                    <li>
                    <a href="#">Privacy Policy</a>
                    </li>
                    <li>
                    <a href="#">Terms & Conditions</a>
                    </li>
                </ul>
                </li>
                <li>
                <a href="#"><i class="fa-solid fa-phone mr-2"></i> Contact</a>
                </li>
            </ul>

            <h6 class="text-uppercase mb-1">Categories</h6>
            <ul class="list-unstyled components mb-3">
                <li>
                <a href="{% url 'products' %}?category=product_water">Water</a>
                </li>
                <li>
                <a href="{% url 'products' %}?category=product_bags">Tote Bags</a>
                </li>
                <li>
                <a href="{% url 'products' %}?category=product_hats">Hat(s)</a>
                </li>
                <li>
                <a href="#">Articles</a>
                </li>
            </ul>
            <form method="GET" action="{% url 'products' %}">
                <div class="input-group w-100">
                    <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                    <div class="input-group-append">
                        <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
            <ul class="social-icons">
                <li><a href="#" target="_blank" title=""><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#" target="_blank" title=""><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="#" target="_blank" title=""><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#" target="_blank" title=""><i class="fa-solid fa-arrows-spin"></i></a></li>
            </ul>
        </nav>
    </header>

    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

    {% block page_header %}
    <!-- In case you'd like to add an additional "header" below the navbar -->
    {% endblock %}

    {% block content %}
    {% endblock %}



    <!-- Footer -->

     <div class="footer">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 d-flex justify-content-center">
                        <h2>Dropp<span class="dot">.</span></h2>
                    </div>
                </div>
                <div class="row mb-3 mt-2 d-flex text-center justify-content-center">
                    <div class="col-2">
                        <a href="#" class="text-light">Home</a>
                    </div>
                    <div class="col-2">
                        <a href="#" class="text-light">Contact</a>
                    </div>
                    <div class="col-2">
                        <a href="#" class="text-light">Profile</a>
                    </div>
                    <div class="col-2">
                        <a href="#" class="text-light">Products</a>
                    </div>
                    <div class="col-2">
                        <a href="#" class="text-light">Articles</a>
                    </div>
                </div>
                <div class="p-2 d-flex justify-content-center">
                    <div class="mb-1">
                    <a
                        class="btn shadow m-1"
                        href="https://www.facebook.com/"
                        role="button"
                        target="_blank"
                        aria-label="Facebook link"
                        ><i class="fab fa-facebook-f"></i
                    ></a>

                    <a
                        class="btn shadow m-1"
                        href="https://twitter.com/"
                        role="button"
                        target="_blank"
                        aria-label="Twitter link"
                        ><i class="fab fa-twitter"></i
                    ></a>

                    <a
                        class="btn shadow m-1"
                        href="https://www.merriam-webster.com/dictionary/argument"
                        role="button"
                        target="_blank"
                        aria-label="TikTok link"
                        ><i class="fas fa-book-open"></i
                    ></a>

                    <a
                        class="btn shadow m-1"
                        href="https://www.instagram.com/"
                        role="button"
                        target="_blank"
                        aria-label="Instagram link"
                        ><i class="fa-brands fa-tiktok"></i
                    ></a>
                </div>
            </div>
        </footer>
    </div>



    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    {% endblock %}

  </body>
</html>
