{% extends "base.html" %}
{% load static %} 

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'articles/css/articles.css' %}">
{% endblock %}

{% block content %}

<div class="overlay-animated"></div>

<div class="container-fluid mt-100">
  <div class="row justify-content-center">
    <div class="col-xl-10">
      <div class="row mb-3 justify-content-center text-center">
        <div class="col">
          <h1 class="display-3">Dropp | Articles</h1>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="list-unstyled breadcrumb justify-content-center">
              <li class="text-secondary breadcrumb-item font-weight-bold">
                <a class="text-light" href="{% url 'products' %}"
                  ><span class="">Products</span></a
                >
              </li>
              <li class="text-secondary breadcrumb-item font-weight-bold">
                <a class="active-class" aria-current="page" href="#"
                  ><span class="">Articles</span></a
                >
              </li>
              <li class="text-secondary breadcrumb-item font-weight-bold">
                <a class="text-light" href="#"
                  ><span class="">Checkout</span></a
                >
              </li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="wrapper">
        <div class="row">
            {% for blog in blogs %} 
              <div class="col-md-4 mt-2">
                <div class="card shadow-lg text-white">
                  {% if blog.image %}
                    <img
                    class="card-img"
                    src="{{ blog.image.url }}"
                    alt=""
                    /><a href="{% url 'article_details' post.id %}"></a>
                    {% else %}
                    <img
                    class="card-img"
                    src="{{ MEDIA_URL }}noimage.png"
                    alt=""
                    />
                    {% endif %}
                    <div class="d-flex flex-column">
                      <div class="card-body">
                          <small class="card-meta mb-2">{{ blog.title }}</small>
                          <h4 class="card-title mt-0">
                          <a class="text-white" herf="#"
                              >{{ blog.description }}</a
                          >
                          </h4>
                          <small><i class="far fa-clock"></i>{{ blog.date_published }}</small>
                      </div>
                      <div class="card-footer">
                          <div class="media">
                            <div class="media-body">
                                <h6 class="my-0 text-white d-block">{{ blog.author }}</h6>
                                <small>Credentials</small>
                            </div>
                          </div>
                      </div>
                    </div>
                </div>
              </div>
            {% endfor %}
          </div>
      </div>
</div>
{% endblock %}
