.overlay-animated {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url("/media/animated-background.svg");
  z-index: -1;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

h3,
h4,
p,
th,
.count {
  color: #000 !important;
}

@media only screen and (max-device-width: 400px) {

  .card-body {
    padding-left:0;
    padding-right:0;
  }

    .card-body .col {
      padding-left: 0;
      padding-right: 0;
    }

  .row .col-md-7 {
    padding-left:0;
    padding-right:0;
  }

  .tbody .tr .td {
        padding-left:0;
        padding-right:0;
  }
  .img-gone {
    display:none;
  }

  .mobile-left {
    float:left;
  }
}


