{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/add_product.css' %}">
{% endblock %}

{% block content %}
    <div class="overlay-animated"></div>

    <div class="container-fluid mt-100">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="row text-center mt-2">
                    <div class="col">
                        <div class="row mb-3 justify-content-center">
                            <div class="col">
                                <h1 class="display-3">Dropp | Product Management</h1>
                            </div>
                        </div>
                            <div class="row justify-content-center text-center">
                                <div class="col-12 ">
                                    <nav aria-label="breadcrumb">
                                        <ol class="list-unstyled breadcrumb justify-content-center">
                                            <li class="text-secondary breadcrumb-item font-weight-bold "><a class="text-light" href="{% url 'products' %}"><span class="">Shop More</span></a></li>
                                            <li class="text-secondary breadcrumb-item font-weight-bold"><a class="text-light" href="{% url 'view_bag' %}"><span class="">My Shopping Bag</span></a></li>
                                            <li class="text-secondary breadcrumb-item font-weight-bold"><a class="active-class" aria-current="page"  href="#"><span class="">Add Product</span></a></li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        <div class="row justify-content-center">
                            <div class="col-md-6 col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3>Add Product</h3>
                                        <h4>And another one!</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <form method="POST" action="{% url 'add_product' %}" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    {{ form | crispy }}
                                                    <div class="text-right">
                                                        <a class="btn rounded" href="{% url 'products' %}">Cancel</a>
                                                        <button class="btn rounded" type="submit">Add Product</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

