{% extends "base.html" %}
{% load static %}

{% block extra_title %}
All Products
{% endblock %}

{% block extra_css %}
        <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}

<div class="load-spinner"></div>
<div class="row mt-100 d-flex products-bar justify-content-center align-items-center shadow mb-3">
    <div class="col-2 text-center color-toggle shadow m-1 pt-1 pb-1">
        <a href="{% url 'products' %}" class="text-light">All</a>
    </div>
    <div class="col-2 text-center color-toggle shadow m-1 pt-1 pb-1">
        <a href="{% url 'products' %}?category=product_water" class="text-light">Water</a>
    </div>
    <div class="col-2 text-center color-toggle shadow m-1 pt-1 pb-1">
        <a href="{% url 'products' %}?category=product_bags" class="text-light">Bags</a>
    </div>
    <div class="col-2 text-center color-toggle shadow m-1 pt-1 pb-1">
        <a href="{% url 'products' %}?category=product_hats" class="text-light">Hats</a>
    </div>
</div>
<div id="modal-wrapper"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Products</h2>
            {% for c in current_categories %}
                <a class="category-badge text-decoration-none" href="{% url 'products' %}?category={{ c.name }}">
                    <span class="p-2 mt-2 text-light rounded">{{ c.friendly_name }}</span>
                </a>
            {% endfor %}
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="container d-flex justify-content-center mt-100 background-blur">
        <div class="row">
            {% for product in products %}
                <div class="col-md-3 col-sm-4 product_data">
                    {% csrf_token %}
                    <input type="hidden" value="{{ product.id }}" class="prod_id">
                    <div class="product-wrapper mb-45 text-center">
                        <div class="product-img"> <a href="{% url 'product_detail' product.id %}" data-abc="true"> <img src="{{ product.image.url }}" alt=""> </a>
                            <div class="product-action">
                                <div class="product-action-style"></a> <a class="action-heart AddToWishlist" title="Wishlist" href="{% url 'add_to_wish_list' product.id %}" data-abc="true"><i class="fa-solid fa-heart-circle-plus text-dark"></i> </a> <a class="action-cart" title="Add To Cart" href="{% url 'product_detail' product.id %}" data-abc="true" aria-label="add to bag"""> <i class="fa-solid fa-cart-shopping text-dark"></i> </a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>



{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
    $(document).ready(function() {
        $(window).scroll(function() {
        var productsBar = $('#barnav').offset().top;
        if(productsBar >= 100){
            $(".products-bar").addClass('fade-in')
            $(".products-bar").addClass('products-sidebar')
        }else{
            $(".products-bar").removeClass('fade-in')
            $(".products-bar").removeClass('products-sidebar')
        }
        });
    });
    
    // $(".color-toggle").click(function () {
    //     if(!$(this).hasClass('product-orange')) {
    //         $(".color-toggle").removeClass("product-orange");
    //         $(this).addClass("product-orange");
    //     }
    // });
</script>
{% endblock %}


