{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <!-- <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div> -->
{% endblock %}
{% block content %}
<div class="row mt-100 border-right-2 border-left-2 shadow mb-1">
    <div class="col-3 text-center align-middle shadow">
        <h2 class="m-2">All products</h2>
    </div>
    <div class="col-3 text-center align-middle shadow">
        <h2 class="m-2">Water</h2>
    </div>
    <div class="col-3 text-center align-middle shadow">
        <h2 class="m-2">Bags</h2>
    </div>
    <div class="col-3 text-center align-middle shadow">
        <h2 class="m-2">Hats</h2>
    </div>
</div>
<div class="container d-flex justify-content-center mt-100 background-blur">
    <div class="row">
        {% for product in products %}
            <div class="col-md-3 col-sm-4">
                <div class="product-wrapper mb-45 text-center">
                    <div class="product-img"> <a href="#" data-abc="true"> <img src="{{ product.image.url }}" alt=""> </a>
                        <div class="product-action">
                            <div class="product-action-style"> <a class="action-plus" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#" data-abc="true"> <i class="fa-solid fa-eye text-dark"></i> </a> <a class="action-heart" title="Wishlist" href="#" data-abc="true"><i class="fa-solid fa-heart-circle-plus text-dark"></i> </a> <a class="action-cart" title="Add To Cart" href="#" data-abc="true"> <i class="fa-solid fa-cart-shopping text-dark"></i> </a> </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
